/*!
 * SmartWizard v4.3.x
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/SmartWizard/blob/master/LICENSE
 */

/* SmartWizard Theme: Dots */
.sw-theme-dots{
	height:100vh;
}
.sw-theme-dots .sw-container {
    height: 160px;
	overflow:auto;
#	width:60% !important;
}

/* width */
.sw-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.sw-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.sw-container::-webkit-scrollbar-thumb {
    background: #4ca300; 
}

/* Handle on hover */
.sw-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.sw-theme-dots .step-content {
    padding: 10px 0;
    border: none;
    text-align: left;
}
.sw-theme-dots .sw-toolbar{
    
    border-radius: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0 !important;
	position:fixed;
	right:0;
	width:40%;
	top:35px;
}
.sw-theme-dots .sw-toolbar-top{
    border-bottom-color: #ddd !important;
}
.sw-theme-dots .sw-toolbar-bottom{
    border-top-color: #ddd !important;
    border-bottom-color: #ddd !important;
}
.sw-theme-dots > ul.step-anchor{
    position: fixed;
#    width:60%;
    border: 0px solid #ccc !important;
    list-style: none;
	left:0;
	top:30px;
}
.sw-theme-dots > ul.step-anchor:before {
    content: " ";
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #46a300;
    border-radius: 3px;
    z-order: 0;
    z-index: 95;
}
.sw-theme-dots > ul.step-anchor > li{
    border: none;
}
/* Anchors styles */
.sw-theme-dots > ul.step-anchor > li > a{
    position: relative;
    text-align: center;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #ccc;
    text-decoration: none;
    outline-style:none;
    z-index: 96;
    display: block;
}
.sw-theme-dots > ul.step-anchor > li > a:before {
    content: ' ';
    position: absolute;
    bottom: 2px;
    left: 40%;
    margin-top: 10px;
    display: block;
    border-radius: 50%;
    color: #428bca;
    background: #4ca300;
    border: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    z-index: 98;
}
.sw-theme-dots > ul.step-anchor > li > a:after  {
    content: ' ';
    position: relative;
    left: 44%;
    bottom: 2px;
    margin-top: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: #28282e;
    border-radius: 50%;
    z-index: 99;
}
.sw-theme-dots > ul.step-anchor > li > a:hover  {
    color: #ccc;
    background: transparent;
}
.sw-theme-dots > ul.step-anchor > li > a:focus{
    color: #ccc;
    border: none;
}
.sw-theme-dots > ul.step-anchor > li.clickable > a:hover {
    color: #999;
}
/* Active anchors */
.sw-theme-dots > ul.step-anchor > li.active > a{
    color: #5bc0de;
}
.sw-theme-dots > ul.step-anchor > li.active > a:hover{
    border: none;
}
.sw-theme-dots > ul.step-anchor > li.active > a:after {
    background: #5d460d;
}
/* Done anchors */
.sw-theme-dots > ul.step-anchor > li.done > a{
    color: #8fdb09;
}
.sw-theme-dots > ul.step-anchor > li.done > a:after {
    background: #8fdb09;
}
/* Danger anchors */
.sw-theme-dots > ul.step-anchor > li.danger > a {
    color: #d9534f;
}
.sw-theme-dots > ul.step-anchor > li.danger > a:after {
    background: #d9534f;
}

.sw-theme-dots > ul.step-anchor > li.disabled > a, .sw-theme-dots > ul.step-anchor > li.disabled > a:hover {
    color: #eee !important;
}
.sw-theme-dots > ul.step-anchor > li.disabled > a:after {
    background: #eee;
}


h2{
	font-size:16px;
	color:#8fdb09;
}
.form-group{
	margin-bottom:0px;
}
input[type="radio"], input[type="checkbox"] {
    float: left;
    width: auto;
    margin-right: 5px;
    display: inline-block;
    margin-top: 0.5rem;
}
.slimScrollDiv{
	position:fixed !important;
	left:0 !important;
	bottom:0 !important;
	width:60% !important;
}

#result,#container,#myForm {
  height:100vh;  
}
#result_oval {
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    background: #1c1c21;
    border-radius: 50%;
    padding: 5%;
    text-align: center;
    font-size: 20px;
    height: auto;
    border: 1px solid #51515d;
}
#recalculate {
    width: 50%;
    float: left;
    text-align: center;
    margin: 10px 25%;
}


.form-control{
	width:80%;
}

.radious{
	
	border-radius:0.25rem !important;
	
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .sw-theme-dots > ul.step-anchor:before {
        top: 0;
        bottom: 0;
        left: 10px;
        width: 5px;
        height: 100%;
        background-color: #f5f5f5;
        display: block;
        margin-right: 10px;
		display:none;
    }
	.sw-theme-dots > ul.step-anchor{
		width:100%;
		
	}
    .sw-theme-dots > ul.step-anchor > li{
        margin-left: 25px;
        display: block;
        clear: both;
		display:none;
    }
	.sw-theme-dots > ul.step-anchor > li.active{
		display:block;
		margin-top: 50px;
	}
    .sw-theme-dots > ul.step-anchor > li > a{
        text-align: left;
        margin-left: 0;
        display: block;
		padding:0px;
    }

    .sw-theme-dots > ul.step-anchor > li > a:before {
        top: 5px;
        left:0px;
        margin-right: 10px;
        display: block;
    }
	small, .small{
		margin-left: 40px;
		float: left;
	}
    .sw-theme-dots > ul.step-anchor > li > a:after  {
        top: -11px;
        left: 8px;
        margin-right: 10px;
        display: block;
    }
	.sw-theme-dots .sw-toolbar{
		width:100%;
		top:0px;
	}
	.slimScrollDiv{
		width:100% !important;
		
		
	}
	.sw-theme-dots .sw-container{
		width:100% !important;
		
	}
	
	
	.btn-group{
		width:100%;
		margin:0 !important;
	}
	.btn-group > button{
		width:50%;
	}
	
	.btn-toolbar > div.btn-group  > .btn:first-child{
		margin:0 auto;
		
	}
	
}

