
body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	background:#fff;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
.client-right ul li img{height:60px; margin-top:20px; margin-right:50px;}
ul{
margin:0;
padding:0;
}
/*-- banner --*/
.banner{
background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height: 860px;
}
.header-left{
float:left;
margin-top:10px; margin-bottom:10px;
}
.header-right{
float:right;
margin-top:40px;
}
.header-left a img{
display:block;
}
/*-- menu --*/
	.header-right span{
		display:none;
		}
	/*-- //menu --*/
.header-right ul{
	padding:0;
	margin:0;
	}
.header-right ul li{
	display:inline-block;
	}
.header-right ul li a {
	font-size: 17px;
	font-family: 'Questrial', sans-serif;
	color: #2c9a08;
    font-weight: 600;
    margin: 0 10px;
    text-decoration: none;
    letter-spacing: 1px;
	}
.header-right ul li a:hover,.header-right ul li a.active {
color:#bb6308;
}
.banner-info h1{
font-size:70px;
margin:0;
color:#fff;

font-family: 'Dosis', sans-serif;
}
.banner-info {
  margin-top: 184px;
}
.banner-info h2{
font-size:32px;
margin:2px 0 20px 0;
color:#fff;

font-family: 'Dosis', sans-serif;
}
.banner-info p{
font-size:16px;
margin:20px 0 0 0;
color:#fff;
font-weight:400;
line-height:2.5em;
width:47%;
}
.down-arrow.text-center {
  margin-top: 90px;
}
.hello{
	
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height: 635px;
}
/*------------------ Slider Part starts Here----------*/
#slider4,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 120%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 22px;
	background: transparent url("../images/theme-arrow.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
a.callbacks_nav.callbacks1_nav.next {
  width: 24px;
  right: 45%;
}
a.callbacks_nav.callbacks1_nav.prev{
  width: 24px;
  right: 54%;
}
#slider3-pager a ,#slider4-pager a {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span{
  float: left;
}
#slider3-pager span, #slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a , #slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a {
  padding: 0;
}
#slider3-pager li, #slider4-pager li{
	display:block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 58%;
	z-index: 999;
	left: 46%;
	padding: 0;
	margin: 0;
left:52%;
cursor:pointer;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: block;
}

.carbon-right-bottom > iframe{
		
		
		width:100%;
		min-height:300px;
		overflow: hidden;
	}

@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  background:#ffffff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
	height:8px;
    width:8px;
	margin:-6px 0px;
}
.callbacks_here a:after{
background: #f16522;

}
a.callbacks_nav.callbacks2_nav.prev {
background: transparent url("../images/icons-sprite.png") no-repeat left top;
width:41px;
height:41px;
}
a.callbacks_nav.callbacks2_nav.next{
background: transparent url("../images/icons-sprite.png") no-repeat -41px 0px;
width:41px;
height:41px;
}
a.callbacks_nav.callbacks2_nav.prev {
left: 0% !important;
top: 115%;
}
a.callbacks_nav.callbacks2_nav.next {
right: 0% !important;
top: 115%;
}
/*--slider-part ends here--*/
/* Rectangle Out */
a.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
border:1px solid rgb(183, 220, 54);
	color:rgb(183, 220, 54) !important;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgb(183, 220, 54);
  color:#fff !important;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-rectangle-out:hover,a.hvr-rectangle-out:focus,a.hvr-rectangle-out:active {
color:#ffffff !important;
}
a.hvr-rectangle-out:hover:before,a.hvr-rectangle-out:focus:before,a.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*--hello--*/
.hello-info h3{
margin:0;
color:#3d3d3d;
font-size:46px;
font-family: 'Dosis', sans-serif;

}
.hello-info h3 span{
display:block;
font-size:28px;
color:#f14545;
margin:10px 0;
}
.hello-info {
  margin: 125px 0 0 0px;
}
.hello-info p{
font-size:14px;
margin:20px 0;
color:#555;
line-height:1.8em;

}
.strip{
  width: 6%;
  padding: 3px 0;
  background: rgb(183, 220, 54);
}
.hello-info p:nth-child(4){
margin:0 0 60px 0;
}
.border{
background:#ffffff;
padding:3px 0;
width:7%;
border-radius:5px;
}
.hello-info a{
color:#ffffff;
font-size:13px;

padding:19px 42px;
letter-spacing: 3px;
}
.hello-info a:hover{

}

.exp-left h3{
margin:0;
color:#968d69;
font-size:50px;
font-family: 'Dosis', sans-serif;

}
.exp-left h3 span{
display:block;
font-size:30px;
color:#ff7e00;
margin:10px 0;
}
.exp-left {
padding:30px 0 0 0;
}
.exp-left p{
font-size:14px;
margin:20px 0 60px 0;
color:#555;
line-height:1.8em;

}
.exp-left a{
color:#ffffff;
font-size:13px;
padding:19px 42px;
letter-spacing: 3px;
}
.exp-left  a:hover{
}
.hello{
border-top:1px solid #e7eaed;
border-bottom:1px solid #e7eaed;
}
.exp-grid{
border:1px solid #e7eaed;
#border-top:0 !important;
padding:20px 0 50px 0;
}
.exp-image.a{
background:url(../images/1.png) no-repeat center;
width:80px;
height:80px;
display:block;
margin:0px auto;     border-radius: 50%;
}
.exp-image.b{
background:url(../images/2.png) no-repeat center;
width:80px;
height:80px;
  border-radius: 50%;
display:block;
margin:0 auto;
}
.exp-image.c{
background:url(../images/3.png) no-repeat center;
width:80px;
height:80px;
  border-radius: 50%;
display:block;
margin:0 auto;
}
.exp-image.d{
background:url(../images/4.png) no-repeat center;
width:80px;
height:80px;
  border-radius: 50%;
display:block;
margin:0 auto;
}
.exp-grid p{
margin:35px 0 0 0;
color:#3d3d3d;
font-size:16px;
font-family: 'Dosis', sans-serif;
font-weight:600;
}
.recent-work{
background:#28282e;
padding:90px 0 0 0;
}
.strip.a{
margin:25px auto;
width: 4%;
}
.recent-info h3{
margin:0;
color:#ffffff;
font-size:40px;
font-family: 'Dosis', sans-serif;
font-weight:bold;
letter-spacing:3px;
}
.recent-info p{
font-size:14px;
margin:0px auto;
line-height:1.8em;
color:#878796;
width:58%;
}
.recent-btm{
margin-top:-15px;
}
.recent-left img{
width:90%;
}
.recent-left{
padding:0 !important;
}
.recent-grid {
  width: 38% !important;
}
.recent-grid h3{
margin:0;
color:#ffffff;
font-size:34px;
font-family: 'Dosis', sans-serif;
font-weight:bold;
}
.recent-grid p{
font-size:14px;
margin:0;
padding:25px 0;
line-height:1.8em;
color:#878796;
border-bottom:1px dashed #42424a;
}
.list li {
font-size:14px;
  color: #878796;
  list-style-type:none;
  line-height:2.8em;
}
.list li a{
color:#f16522;
}
.list li a:hover{
color:#878796;
}
ul.list.ins1 {
  margin-top: 20px;
  display:inline-block;
  width:37%;
}
a.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #363636;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;
}
a.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#f1f1f1;
  color:#f16522;
  border:2px solid #f16522;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-rectangle-in:hover,a.hvr-rectangle-in:focus,a.hvr-rectangle-in:active {
  color: white;
}
a.hvr-rectangle-in:hover:before,a.hvr-rectangle-in:focus:before,a.hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.col-md-6.feature-grid img{
width:100%;
}
.feature-grid h3{
margin: 45px 0 0 0;
color:#3d3d3d;
font-size:50px;
font-family: 'Dosis', sans-serif;
font-weight:bold;
}
.feature-grid h3 span{
display:block;
font-size:30px;
font-weight:700;
margin:10px 0;
}
.feature {
padding:90px 0;
background:#f1f1f1;
}
.feature1 {
padding:90px 0;
background:#fff;
}


.feature-grid p{
font-size:14px;
margin:20px 0;
color:#3d3d3d;
line-height:1.8em;
font-weight: 600;
}
.feature-grid a{
color:#ffffff;
font-size:13px;
padding:19px 42px;
letter-spacing: 3px;
}
.feature-grid a.hvr-rectangle-in.button.red {
color: #f16522;
margin-left: 25px;
}
/*-- blog --*/
.blog-info h3 {
  margin: 0;
  text-transform:uppercase;
  color: #3d3d3d;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;

  letter-spacing: 3px;
}
.blog-info p {
  font-size: 14px;
  margin: 0px auto;
  line-height: 1.8em;
  color: #3d3d3d;
  width: 58%;
  font-weight:500;
}
.blog{
	padding:90px 0;
}
#myList ul{
margin:0;
}
#myList li{ 
	display:none;
	list-style-type:none;
}
.blog-text:after{
	clear: both;
}
.blog-grid img{
width:100%;
}

#loadMore {
	background: url(../images/plus.png) no-repeat 0px 5px;
	color:#3d3d3d;
	font-size:16px;
	font-family: 'Dosis', sans-serif;
	font-weight:800;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	cursor:pointer;
	text-align:center;
	width:10%;
	margin:75px auto 0 auto;
	text-transform:uppercase;
}
#loadMore:hover {
    color:#f16522;
	text-decoration:none;
}
.load_more {
  margin-top: 70px;
}
.load_more ul {
  padding: 0;
}

.g_r{
	background:none;
	margin:30px 0 0 0;
}
.l_g_r img{
	width:100%;
}
.clear{
	clear:both;
}
.blog h2{
	color:#DFA307;
	font-size:38px;
	font-weight: 700;
	margin: 0 0 0 0;
	text-align: center;
	}
.blog-grid{
	float:left;

	}
.load{
	text-align:center;	
	}
.blog-grid h3{
margin:30px 0 10px 0;
color:#000000;
font-size:16px;
font-weight:700;
}
.blog-grid p{
margin:0px 0;
color:#8e8e8e;
font-size:14px;
}
.blog-grid p:nth-child(5){
margin:0px 0 15px 0;
color:#3d3d3d;
font-size:14px;
line-height:1.8em;
font-weight: 600;
}
.blog-grid a{
color:#f16522;
font-weight: 600;
}
.blog-grid a:hover{
color:#3d3d3d;
}
.strip.b {
  width: 10%;
  margin: 15px 0;
}
/*-- //blog --*/
.footer-grid input[type="email"] {
  background:#fff;
  border: none;
  width: 81%;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #c4c4c4;
}
.footer{
background:#e7eaed;
padding:50px 0;
}
.footer-grid h4{
margin:0 0 30px 0;
font-size:16px;
color:#3d3d3d;
font-family: 'Dosis', sans-serif;
font-weight:bold;
}
.footer-grid h3{
margin:0 0 30px 0;
font-size:24px;
color:#3d3d3d;
font-family: 'Dosis', sans-serif;
font-weight:bold;
}
.footer-grid p{
margin:0 0 0px 0;
font-size:12px;
color:#3d3d3d;
line-height:1.8em;
font-weight:600;
}
.footer-grid p a{
color:#f16522;
}
.footer-grid p a:hover{
color:#3d3d3d;
}
.footer-grid ul {
margin:0;
padding:0;
}
.footer-grid ul li{
list-style-type:none;
font-size:12px;
color:#3d3d3d;
line-height:2em;
font-weight:600;
}
.focus-grid:nth-child(4) ,.focus-grid:nth-child(5) ,.focus-grid:nth-child(6) ,.focus-grid:nth-child(7) {
  margin: 30px 0;
}
.focus-grid h3{
  margin: 0px 0 0 0;
  color: #3d3d3d;
  font-size: 50px;
  font-family: 'Dosis', sans-serif;

}
.focus-grid h3 span {
  display: block;
  font-size: 26px;
 text-transform:capitalize;
  margin: 10px 0;
}
.focus-grid p {
  font-size: 14px;
  margin: 20px 0 0px 0;
  color: #3d3d3d;
  line-height: 1.8em;
 
}
.focus-border{
border:1px solid #e7eaed;
height:200px;
}
.focus-image.a{
background:url(../images/6.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.b{
background:url(../images/7.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.c{
background:url(../images/8.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.d{
background:url(../images/9.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.e{
background:url(../images/10.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.f{
background:url(../images/11.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.g{
background:url(../images/12.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.h{
background:url(../images/13.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.focus-image.i{
background:url(../images/14.png) no-repeat 0px 0px;
width:48px;
height:48px;
margin:0 auto;
display:block;
}
.we-focus{
padding:90px 0;
}
.focus-grids {
  margin: 0 0 30px 0;
}
.focus-grids:nth-child(3){
margin:0;
}
.focus-grid:hover div.focus-layout{
background:#f3f3f3;
}
.focus-layout{
margin:10px;
padding: 50px 0 40px 0;
}
.focus-layout h4{
  margin: 15px 0 0 0;
  color: #3d3d3d;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  
 
  text-align:center;
}
/*--flexisel--*/
.flex-slider{	
background:#efefef;
padding: 40px 0 120px 0;
}
.opportunity{
background:#28282e;
margin:0px 20px;
padding:80px 0;
position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:60px;
	height:60px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
left: 42%;
top: 120% !important;
background: url(../images/themes.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
right: 42%;
top: 120% !important;
background: url(../images/themes.png) no-repeat -222px 0px;
}
/*--//flexisel--*/
.opportunity-info h3{
margin:0;
font-size:32px;
color:#3d3d3d;
}
.opportunity-info h3 span{
font-weight:700;
}
.opportunity-info p{
margin:15px 0 0 0;
font-size:14px;
text-align:center;
color:#878796;
line-height:1.8em;

}
.opportunity:hover div.opportunity-info{
display:block;
}
.opportunity-info{
position:absolute;
top:0%;
left:0%;
width:100%;
height:100%;
background:#ffffff;
display:none;
padding:30px 20px;
}
.footer-grid form input[type="submit"]{
  background: url(../images/message.png) no-repeat 2px 9px #ffffff;
  width: 44px;
  height: 38px;
  border: none;
  margin: 0 0 0 -4px;
  padding:0;
	}
.footer-grid ul li a{
color:#f16522;
}
.footer-grid ul li a:hover{
color:#3d3d3d;
}
.blog-grid p a{
color:#f16522;
font-weight:normal;
}
.blog-grid p a:hover{
color:#8e8e8e;
}
.blog-grid h3 a{
color:#000000;
}
.blog-grid h3 a:hover{
color:#f16522;
}
.exp-grid:hover {
  background: #f5f5f5;
}

.client-left {
  float: left;
  background: #f8f8f8;
  padding: 33px 0 33px 232px;
  width: 26%;
}
.client-right{
float:right;
background:#ffffff;
width: 72%;
}
.client-right ul{
margin:0;
padding:0;
}
.client-right ul li{
list-style-type:none;
display:inline-block;
  margin: 0 0 0 5px;
}
.client-left h3{
margin:0;
color:#3d3d3d;
font-size:24px;

font-family: 'Dosis', sans-serif;
}
/*--contact-page--*/
.banner.page-head {
  min-height: 104px;
}
.contact-map iframe{
width:100%;
height:300px;
}
.contact {
	padding: 90px 0;
}
.contact h3 {
  margin: 0;
  color: #3d3d3d;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
text-align:center;  
}
.map iframe {
  width: 100%;
  height: 340px;
}
.contact-form input[type="text"] {
	border: 1px solid #a8a8a8;
	width: 31.65%;
	outline: none;
	padding: 10px;
	font-size: 14px;
	font-weight:600;
	color: #f16522;
	margin: 0 24px 24px 0;
}
.contact-form textarea {
	border: 1px solid #a8a8a8;
	width: 100%;
	height: 150px;
	outline: none;
	font-weight:600;
	font-size: 14px;
	color: #f16522;
	resize: none;
	padding: 10px;
	margin-bottom: 24px;
}
.contact-form input[type="text"]:nth-child(3){
margin-right:0;
}
.btn1 {
  color: #ffffff;
  background:#363636;
  border:none;
  cursor: pointer;
  padding: 18px 0;
  width: 15%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing:3px;
  font-weight: 400;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn1:hover{
background:#f16522;
}
.contact-info{
margin:0 0 50px 0;
}
.contact-map{
margin:0 0 50px 0;
}
/*-- //contact-page--*/
/*-- 404-page--*/
.error-info h3{
margin:0;
font-size:12em;
font-weight:700;
text-align:center;
color:#f16522;
}
.error-page{
padding:90px 0;
min-height: 700px;
}
.error-info h3 span{
color:#3d3d3d;
}
.error-info p:nth-child(2){
color:#f16522;
}
.error-info p:nth-child(3){
color:#3d3d3d;
margin:0 0 50px 0
}
.error-info p{
text-align:center;
font-size:14px;
margin:20px 0;
font-weight:600;
}
.error-info{
	text-align:center;
	margin-top:65px;
	}
.error-info a{
	color: #ffffff;
	padding: 12px 35px;
    text-decoration: none;
	font-size: 14px;
	letter-spacing:3px;
	}
.error-info a:hover{
	text-decoration: none;
	}
/*-- //404-page--*/
/*-- industries--*/
.product-lists h3{
	 color:#3d3d3d;
	 font-size:16px;
	 font-weight:600;	 
}

ul.list1 li{
	display:block;	
	line-height:2em;
}
ul.list1 li a{ 
	display:block;
	text-decoration:none;
	font-size:14px;
	color:#3d3d3d;
	font-weight:600;
}
ul.list1 li a:hover{
	 color:#f16522;
}

.products {
  margin: 50px 0;
}
.product-grid img{
	width:100%;
}
.product-grid h4{	
	margin:10px 0;
	font-size:16px;
	font-weight:600;	
}
.product-grid h4 a{
	text-decoration:none;
	 color:#f16522;
}
.product-grid h4 a:hover{
	color:#3d3d3d;
}
.product-grid p{
	color:#3d3d3d;
	line-height:1.8em;
	font-size:14px;
	font-weight:600;
	margin:0;
}
.industries{
padding:90px 0;
}
.ind-info h3{
  margin: 0;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.key-industries h3 {
  margin: 0;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.key-list{
margin:50px 0 0 0;
}
.key-left ul{
margin:0;
padding:0;
}
.key-left ul li {
  list-style-type: disc;
  line-height: 2em;
  color:#f16522;
  }
.key-left ul li a {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.key-left ul li a:hover{
color:#f16522;
}


.top-comments {
  margin: 50px 0 0 0;
}
.top-comments h3{
	font-size:24px;
	color:#3d3d3d;
	font-weight:700;
	text-transform:uppercase;
}
.single-middle{
	background:#f8f8f8;
	padding:32px;
}
i.arrow{
	background: url(../images/img-sprite.png)no-repeat -248px 0px ;
	width: 18px;
	height: 18px;
	display: inline-block;
	float:right;
}
.comments-top-top{
margin-top:5px;
	background:#e6e6e6;
}
.men{	
	background:#3d3d3d;
	float: left;
	width: 9%;
	text-align: center;
	padding: 25px 0;
}
p.men-it{
	float: left;
	width:86%;
	margin: 12px 0 0 27px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.8em;
	color: #3d3d3d;
}
.met-in{
	margin: 0 0 0 45px;
}
.met {
	padding: 1em 0;
}
p.smith{
	float:left;
	padding: 0;

}
p.smith a:hover{
color:#f16522;
}
p.smith a{
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color:#3d3d3d;
}
.code-in {
	padding: 0 0 0 10px;
}
p.smith  span{
	font-weight:600;
	padding: 0 20px;
	color:#3d3d3d;
}
.top-in{
	background:#f8f8f8;
}
p.reply{
	float:right;
	padding:0;
	width: 17%;
	color:#362f2f;

}
p.reply a{
	text-decoration:none;
	color:#3d3d3d;
	font-weight:600;
	font-size:14px;
}
p.reply a:hover{
	color:#f16522;
}

/*-- //industries--*/
/*-- about-page--*/
.about-text h3{
 margin: 0px 0;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.about {
  padding: 90px 0;
}
.about-info h4 {
	color: #f16522;
	font-size: 16px;
	margin: 20px 0;
	font-weight:600;
	text-transform:uppercase;
}
.about-info p{
  font-size: 14px;
  margin: 20px 0;
  color: #3d3d3d;
  line-height: 1.8em;
  font-weight: 600;
}
.about-info-right p{
  font-size: 14px;
  margin: 20px 0 0 0;
  color: #3d3d3d;
  line-height: 1.8em;
  font-weight: 600;
}
.about-info-right h4 {
  font-size: 16px;
  margin: 0px 0;
  color: #f16522;
  line-height: 1.8em;
  font-weight: 600;
  text-transform:uppercase;
}
.about-info-left img {
  width: 100%;
}
.about-info-left:nth-child(1){
  padding-left: 0;
}
.about-info-left {
  padding-left: 0 !important;
}
.about-grid {
  margin: 50px 0 0 0;
}
.about-text-info h4 {
  color: #3d3d3d;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}
.about-text-info h5 {
  color: #f16522;
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}
.about-text-info p {
  font-size: 14px;
  margin: 20px 0 0 0;
  color: #3d3d3d;
  line-height: 1.8em;
  font-weight: 600;
}
.about-team {
  padding: 50px  0 0 0;
}
.row {
  margin: 50px 0 0 0;
}
.caption h4 {
  font-size: 18px;
  margin: 0.5em 0;
}
.caption h4 a{
  font-size: 14px;
  text-decoration:none;
  transition:.5s all;
  color:#f16522 !important;
  font-weight:700;
}
.caption h4 a:hover{
  color: #3d3d3d !important;
  text-decoration:none;
}
.caption p {
  line-height:1.8em;
  font-size: 14px;
  color: #3d3d3d;
  margin:0;
  font-weight:600;
}
/*-- //about-page--*/
/*-- services-page--*/
.services{
	padding:90px 0px;
}
.services h3{
 margin: 0px 0;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.services-top{
	margin-top:50px;
}
.services-left img{
	width:100%;
}
.services-left h4 a{
color:#f16522;
}
.services-left h4 a:hover{
  color: #3d3d3d;
}
.services-left h4 {
  color: #f16522;
  font-size: 16px;
  font-weight: 700;
  margin:0;
  font-family: 'Dosis', sans-serif;
  text-transform:uppercase;
}
.services-left p {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 0 0;
  line-height: 1.8em;
}
.col-md-6.services-top-left {
  padding: 0;
}
.services-top-main:nth-child(2) {
	margin-top: 50px;
}

.feature-top{
	margin-top:50px;
}
.feature-block{
margin-top:50px;
}
.feature-left ul{
	padding:0;
	margin:0;
}
.feature-left ul li{
	list-style-type:none;
	line-height:2em;
	background:url(../images/mark.png) no-repeat 0px 6px;
	padding-left:25px;
}
.feature-left ul li a {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 600;
  text-decoration:none;
}
.feature-left ul li a:hover,.choose-left ul li a:hover{
	color: #f16522;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*-- //services-page--*/
/*-- works-page --*/
.works{
padding:90px 0;
}
.works-grids {
margin-top:50px;
}
.col-md-4.works-grid:nth-child(4),.col-md-4.works-grid:nth-child(5),.col-md-4.works-grid:nth-child(6),.col-md-4.works-grid:nth-child(7),.col-md-4.works-grid:nth-child(8),.col-md-4.works-grid:nth-child(9){
margin-top:30px;
}

.works-grid img{
width:100%;
border: 1px solid #a8a8a8;
}
.works-text h3{
  margin: 0px 0;
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.works-grid a.mask1{
	display: block;
	text-decoration: none;
	overflow: hidden;
}
.works-grid  img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
}
img.zoom-img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: .5s;
}
img.zoom-img:hover {
	-webkit-transform: scale(1.15);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transform: scale(1.15);
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	overflow: hidden;
}

/*-- //works-page --*/
/*-- single-page --*/
.blog {
	padding: 90px 0;
}
.blog h4 {
	margin:0 0 50px 0;
	color: #3d3d3d;
	font-size: 30px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
.category ul{
	margin: 0 0 50px 0;
	padding: 0 0 0 30px;
}
.category ul li{
	list-style-type: disc;
	line-height:2.5em;
}
.category ul li a {
	font-size: 14px;
	font-weight: 600;
	color:#3d3d3d;
}
.category ul li a:hover{
	transition:.5s all;
	color:#f16522;
	text-decoration:none;
}
.single-blog h5 {
	font-size: 16px;
	font-weight: 600;	
	margin: 20px 0;
	color: #f16522;
	line-height: 1.8em;
}
.single-blog p{
	color:#3d3d3d;
	font-size: 14px;
	margin: 0;
	line-height: 1.8em;
}
.posts-right h5 {
	font-size: 14px;
	font-weight: 600;	
	margin: 8px 0;
	color:#f16522;
}
.posts-right h5 a {
color:#f16522;
}
.posts-right h5 a:hover{
	color: #3d3d3d;
	text-decoration:none;
	transition:.5s all;
}
.read-more {
	margin: 10px 0 0 0;
}
.read-more a {
	color: #f16522;
	font-size: 14px;
	font-weight: 600;
	border-radius: 3px;
}
.read-more a:hover{
	text-decoration:none;
	transition: .5s all;
	color: #3d3d3d;
}
.posts-right p {
	color:#3d3d3d;
	font-size: 13px;
	margin:0;
	line-height: 1.8em;
}
.comment-icons {
	border-top: 1px dotted rgb(200, 200, 200);
	border-bottom: 1px dotted rgb(200, 200, 200);
	padding: 20px 0;
	margin: 30px 0;
}
.comment-icons ul{
	margin: 0;
	padding: 0;
}
.comment-icons ul li{
	list-style-type:none;
	display:inline-block;
	margin-right: 20px;
	color:#3d3d3d;
	font-size:14px;
	font-weight:600;
}
.comment-icons ul li span{
	background: url(../images/icons-sprite.png) no-repeat -5px 0;
	margin-right: 10px;
	padding: 0px 6px;
}
.comment-icons ul li span.clndr{
	background: url(../images/icons-sprite.png) no-repeat -25px 0;
	padding: 0px 8px;
}
.comment-icons ul li span.admin{
	background: url(../images/icons-sprite.png) no-repeat -5px -22px;
	padding: 0px 7px;
}
.comment-icons ul li span.cmnts{
	background: url(../images/icons-sprite.png) no-repeat -25px -21px;
	padding: 0px 8px;
	margin-right: 6px;
}
.comment-icons ul li span.like{
	background: url(../images/icons-sprite.png) no-repeat -6px -42px;
	padding: 0px 7px;
	margin-right: 6px;
}
.single-blog ul li a{
	color: #3d3d3d;
	font-size: 14px;
	font-weight: 600;
}
.single-blog ul li a:hover{
	color:#f16522;
	text-decoration:none;
	transition:.5s all;
}
.coment-form input[type="text"]:nth-child(3) {
margin:0;
}
.coment-form input[type="text"] {
	background: none;
	border: 1px solid #a8a8a8;
	width: 31.65%;
	margin: 0 24px 24px 0;
	outline: none;
	font-size: 14px;
	color: #5b5b5b;
	font-weight: 600;
	padding:10px;
	color:#f16522;
}
.coment-form textarea {
	border: 1px solid #a8a8a8;
	width: 100%;
	height: 150px;
	outline: none;
	font-size: 14px;
	color: #f16522;
	font-weight: 600;
	resize: none;
	padding: 10px;
	margin-bottom: 24px;
}
.coment-form input[type="submit"] {
  color: #ffffff;
  background: #363636;
  border: none;
  cursor: pointer;
  padding: 18px 0;
  width: 18%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 400;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.coment-form input[type="submit"]:hover{
	background: #f16522;
	transition: .5s all;
}
.blog  img {
	height: auto;
	max-width: 100%;
}
.recent-posts-info {
	margin-bottom: 4em;
}
.posts-left{
	float:left;
	width: 42%;
}
.posts-right{
	float:right;
	width:54%;
}	
.posts-right label {
	font-size: 14px;
	font-weight: 600;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- fixed-header --*/
		.fixed{
			position: fixed;
			top: 0;
			width: 100%;
			margin: 0 auto;
			left:0;
			z-index:9999;
			 /* background: url(../images/banner.jpg) no-repeat 0px 0px;
			  background-size: cover;
			  -webkit-background-size: cover;
			  -o-background-size: cover;
			  -ms-background-size: cover;
			  -moz-background-size: cover;*/ background-color:#fff;
			  min-height: 100px;
		}
	/*-- //fixed-header --*/
/*-- responsive media queries--*/
@media(max-width:1440px){
.recent-left img{
width:95%;
}
ul.list.ins1 {
  width: 40%;
}
.recent-grid {
  width: 41% !important;
}
	.down-arrow.text-center {
	  margin-top: 42px;
	}
	.banner {
	  min-height: 773px;
	}
	.client-left {
	  padding: 33px 0 33px 157px;
	  width: 25%;
	}
	.client-right {
	  width: 73%;
	}
}
@media(max-width:1366px){
ul.list.ins1 {
  width: 42%;
}
.recent-grid {
  width: 43% !important;
}
	.banner-info {
	  margin-top: 120px;
	}
	.banner {
	  min-height: 650px;
	}
	.client-left {
	  padding: 33px 0 33px 130px;
	  width: 23%;
	}
	.client-right {
	  width: 75%;
	}

}
@media(max-width:1280px){
.recent-grid {
  width: 46% !important;
}
ul.list.ins1 {
  width: 44%;
}
.client-left {
  padding: 33px 0 33px 67px;
  width: 18%;
}
.client-right {
  width: 81%;
}
.list li {
  line-height: 2em;
}
	.banner {
	  min-height: 682px;
	}
	.banner-info {
	  margin-top: 155px;
	}
	.callbacks_tabs {
	  top: 52%;
	  }
	.client-right ul li img {
	  width: 100% !important;
	}
	.hello-info {
	  margin: 80px 0 0 0px;
	}
	.hello {
	  min-height: 570px;
	}
	.exp-grid {
	  padding: 60px 0 60px 0;
	}
	.exp-left {
	  padding: 60px 0 0 0;
	}
	.exp-grid p {
	  margin: 22px 0 0 0;
	  }
	.recent-btm {
	  margin-top: 40px;
	}
	.recent-work {
	  padding: 70px 0 0 0;
	}
	.we-focus {
	  padding: 70px 0;
	}
	.feature {
	  padding: 60px 0;
	  background: #f1f1f1;
	}
	.blog {
	  padding: 70px 0;
	}
	.load_more {
	  margin-top: 45px;
	}
	#loadMore {
	  margin: 55px auto 0 auto;
	}
	.works {
	  padding: 70px 0;
	}
	.industries {
	  padding: 70px 0;
	}
	.ind-grids {
	  margin: 45px 0;
	}
	.key-list {
	  margin: 45px 0 0 0;
	}
	.works-grids {
	  margin-top: 45px;
	}
	.services-top {
	  margin-top: 45px;
	}
	.feature-top {
	  margin-top: 45px;
	}
	.services {
	  padding: 70px 0px;
	}
	.error-page {
	  padding: 70px 0;
	  min-height: 613px;
	}
	.about {
	  padding: 70px 0;
	}
	.row {
	  margin: 45px 0 0 0;
	}
	.contact{
	  padding: 70px 0;
	}
	.contact-info {
	  margin: 0 0 45px 0;
	}
	.blog h4 {
	  margin: 0 0 45px 0;
	}
	.products {
	  margin: 45px 0;
	}	
}
@media(max-width:1024px){
.col-md-4.product-lists {
  padding: 0;
}
.recent-left img {
  width: 100%;
}
.services-left {
  padding-right: 0 !important;
}
.about-text-info {
  padding-left: 0 !important;
}
	.banner-info h1 {
	  font-size: 66px;
	  }
	.banner-info h2 {
	  font-size: 40px;
	  }
	.banner-info p {
	  width: 48%;
	}
	.banner-info p {
	  font-size: 13px;
	  }
	.banner-info {
	  margin-top: 160px;
	}
	.hello-info p {
	  font-size: 13px;
	  }
	.down-arrow img {
	  width: 6%;
	}
	.down-arrow.text-center {
	  margin-top: 0px;
	}
	.banner {
	  min-height: 550px;
	}
	.header-right ul li a {
	  margin: 0 8px;
	  }
	.callbacks_tabs {
	  left: 53%;
	  }
	.client-left {
	  padding: 41px 0 41px 50px;
	  width: 23%;
	}
	.client-right ul li {
	  width: 13%;
	}
	.client-right {
	  width: 75%;
	}
	.client-left h3 {
	  font-size: 22px;
	  }
	.hello-info {
	  margin: 60px 0 0 0px;
	}
	.hello-info h3 ,.exp-left h3,.feature-grid h3,.focus-grid h3{
	  font-size: 40px;
	  }
	.hello-info h3 span,.exp-left h3 span ,.feature-grid h3 span,.focus-grid h3 span{
	  font-size: 24px;
	  }
	.hello-info p:nth-child(4) {
	  margin: 0 0 30px 0;
	}
	.hello-info a ,.exp-left a,.feature-grid a{
	  padding: 15px 18px;
	  }
	.hello {
	  min-height: 485px;
	}
	.exp-left p {
	  margin: 20px 0 30px 0;
	  }
	.exp-grid {
	  padding: 46px 0;
	}
	.recent-info h3,.blog-info h3 {
	  font-size: 35px;
	  }
	ul.list.ins1 {
	  margin-top: 20px;
	  display: inline-block;
	  width: 47%;
	}
	.recent-grid h3 {
	  font-size: 30px;
	  }
	.opportunity-info h3{
	font-size:20px;
	}
	.focus-layout h4 ,.exp-grid p{
	  font-size: 13px;
	  }
	.footer-grid h4 {
	  font-size: 13px;
	  }
	.footer-grid input[type="email"] {
	  width: 78%;
	  }
	.footer-grid h3 {
	  font-size: 16px;
	  }
	.blog-grid h3 a{
	  font-size: 15px;
	  }
	.works-text h3,.ind-info h3,.blog h4,.contact h3,.about-text h3,.key-industries h3,.services h3 ,.services h3,.about-text h3{
	  font-size: 25px;
	  }
	.col-md-8.product-grids {
	  float: left;
	  width: 65%;
	  padding: 0;
	}
	.col-md-4.product-lists {
	  float: left;
	  width: 35%;
	}
	.exp-left p ,.recent-info p,.category ul li a,.single-blog ul li a,.comment-icons ul li,.caption p,.feature-left ul li a,.key-left ul li a,.recent-grid p,ul.list1 li a,.product-grid p{
	  font-size: 13px;
	  }
	.list li,.opportunity-info p,.posts-right label,.posts-right h5,.posts-right p,.read-more a,.single-blog p,.about-text-info p,.about-info-right p,.about-info p,.error-info p,.error-info p:nth-child(3),.services-left p,.focus-grid p,.feature-grid p,.blog-info p,.blog-grid p,.blog-grid p:nth-child(5),.blog-grid a {
	font-size:13px;
	}
	#loadMore {
	  background: url(../images/plus.png) no-repeat 0px 3px;
	  font-size: 13px;
	  }
	.product-grid h4,.single-blog h5,.services-left h4 a,.about-info h4,.about-info-right h4,.about-text-info h5{
	font-size:14px;
	}
	.col-md-3.feature-left {
	  padding-right: 0;
	}
	.error-page {
	  padding: 18px 0;
	  min-height: 568px;
	}
	.error-info h3 {
	  font-size: 11em;
	  }
	.about-text-info h4 {
	  font-size: 18px;
	  }
	.about-info-right p {
	  margin: 7px 0 0 0 !important;
	  }
	.about-info p {
	  margin: 12px 0;
	  }
	.about-info h4 {
	  margin: 35px 0 13px 0;
	  }
	.about-text-info h5 {
	 line-height:1.8em;
	  margin: 10px 0 0 0;
	  }
	.about-text-info p {
	  margin: 8px 0 0 0;
	  }
	.col-md-7.about-info-right h4{
	margin:0 0 10px 0 !important;
	}
	.contact-form input[type="text"] {
	  width: 31.3%;
	  }
	.btn1 {
	  padding: 14px 0;
	  width: 12%;
	  }
	.contact-map {
	  margin: 0 0 35px 0;
	} 
	.contact-info {
	  margin: 0 0 35px 0;
	} 
	.col-md-4.categorya {
	  width: 33%;
	  padding-left: 0;
	} 
	.blog h4 {
	  margin: 0 0 35px 0;
	}  
	.comment-icons ul li{
	line-height:1.8em;
	} 
	.coment-form input[type="text"] {
	  width: 31.3%;
	}  
	.coment-form input[type="submit"] {
	  padding: 14px 0;
	  width: 21%;
	  }
	.top-comments h3 {
	  font-size: 18px;
	}  
	p.smith a,p.smith span,p.reply a,p.men-it {
	  font-size: 13px;
	}  
	.feature-grid h3 {
	  margin: 34px 0 0 0;
	}  
}
@media(max-width:768px){
.recent-posts-info {
  margin-bottom: 0em;
  width: 50%;
  float: left;
}
.fixed {
  min-height: 101px;
}
.recent-left {
  float: left;
  width: 48%;
}
.recent-grid {
  float: left;
  width: 52% !important;
}
.recent-grid p {
  padding: 8px 0;
  }
ul.list.ins1 {
  width: 49%;
  margin-top: 10px;
}
	.header-right ul.nav1 li {
	  padding: 12px 0 12px 0;
	}
	.banner-info p {
	  line-height: 2.2em;
	  }
	span.menu {
		display: block;
		cursor: pointer;
		width: 100%;
		position: relative;
		}
	ul.nav1{
		display:none;
		background:#3d3d3d;

		}
	.header-right ul li a{
		display:block;
		font-size: 14px;
		}
	.header-right ul {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 100%;
		left: 0%;
		width: 100%;
		z-index: 9999;
		}
	.header-right ul.nav1 li {
		display: inline-block;
		text-align: center;
		margin: 0;
		width: 100%;
		}
	span.menu {
	  margin: 0px 0 0px 0;
	}
	.header-right {
	  margin-top: 35px;
	}
	.col-md-8.blog-left {
	  width: 100%;
	}
	.col-md-4.categorya {
	  width: 100%;
	  padding-left: inherit;
	}
	.category ul {
	  margin: 0 0 35px 0;
	  }
	.coment-form {
	  margin-top: 35px;
	}
	.coment-form input[type="text"] {
	  width: 30.7%;
	}
	.coment-form input[type="submit"] {
	  padding: 12px 0;
	  width: 26%;
	}
	.men {
	  width: 12%;
	  }
	p.men-it {
	  float: left;
	  width: 84%;
	  }
	.col-md-3.footer-grid {
	  width: 50%;
	  float: left;
	  margin-bottom:20px;
	}
	.footer-grid h3 ,.footer-grid h4{
	  margin: 0 0 14px 0;
	  }
	.col-md-3.footer-grid:nth-child(3),.col-md-3.footer-grid:nth-child(4){
	margin:0;
	}
	.banner-info h1 {
	  font-size: 42px;
	}
	.banner-info h2 {
	  font-size: 22px;
	}
	.banner-info p {
	  margin: 6px 0 0 0;
	  width: 50%;
	}
	.banner-info {
	  margin-top: 118px;
	}
	.banner-info h2 {
	  margin: 2px 0 6px 0;
	  }
	.banner {
	  min-height: 409px;
	}
	.client-left {
	  padding: 29px 0 29px 18px;
	  width: 26%;
	}
	.client-right ul li {
	  width: 14.5%;
	}
	.client-right {
	  width: 72%;
	}
.about-info-right p span{
display:none !important;
}
	.col-md-6.hello-info {
	  width: 60%;
	  float: left;
	}
	.callbacks_tabs {
	  left: 53%;
	}
	.col-md-6.hello-info.a {
	  width: 40%;
	}
	
	.hello-info h3, .exp-left h3, .feature-grid h3,.focus-grid h3 {
	  font-size: 32px;
	}
	.hello-info h3 span, .exp-left h3 span, .feature-grid h3 span,.focus-grid h3 span {
	  font-size: 18px;
	}
	.hello-info p {
	  margin: 10px 0;
	  }
	.hello-info p:nth-child(4) {
	  margin: 0 0 15px 0;
	}
	.hello {
	  min-height: 456px;
	  background-size: 165% !important;
	}
	.col-md-6.exp-grid:nth-child(1),.col-md-6.exp-grid:nth-child(2),.col-md-6.exp-grid:nth-child(3),.col-md-6.exp-grid:nth-child(4){
	  border-top: 1px solid #e7eaed !important;
	  }
	.col-md-6.exp-right {
	  margin: 60px 0;
	}
	.recent-info h3, .blog-info h3 {
	  font-size: 30px;
	}
	.nbs-flexisel-nav-left{
		left:39%;
	}
	.nbs-flexisel-nav-right{
		right:39%;
	}

.recent-work {
  padding: 70px 0;
}
.focus-grid:nth-child(3) {
  margin-top: 30px;
}
.focus-grid:nth-child(4), .focus-grid:nth-child(5), .focus-grid:nth-child(6), .focus-grid:nth-child(7), .focus-grid:nth-child(8) , .focus-grid:nth-child(9) , .focus-grid:nth-child(10), .focus-grid:nth-child(11)   {
  margin: 30px 0 0 0;
}
.feature-grid h3 {
  margin: 20px 0 0 0;
}
	.exp-grid {
	  width: 50%;
	  float: left;
	}
	.focus-grid {
	  float: left;
	  width: 50%;
	}
	.focus-grid {
	  float: left;
	  width: 100%;
	}
	.exp-grid:nth-child(4){
	margin-bottom:0;
	}
	.feature {
	  padding: 15px 0;
	  }
	.feature-grid {
	  float: left;
	  width: 50%;
	}
	.feature-grid {
	  float: left;
	  width: 57% !important;
	  padding-right: 0;
	}
	.feature-grid:nth-child(1) {
	  width: 43% !important;
	}
	.feature-grid p {
	  margin: 10px 0;
	  }
	.feature {
	  padding: 24px 0 52px 0;
	  }
	.blog {
	  padding: 60px 0;
	}
	.blog-grid {
	  float: left;
	  width: 33.3%;
	  margin-top: 40px;
	  padding-right:0;
	}
	.blog-grid h3 {
  margin: 15px 0 6px 0;
  }
  .strip.b {
  width: 13%;
  margin: 8px 0;
}
.blog-grid p:nth-child(5) {
  line-height: 1.7em;
  }
.blog-grid p:nth-child(5) {
  margin: 0px 0 5px 0;
  }
	#loadMore {
	  width: 16%;
	  }
	.footer-grid {
	  margin-bottom: 30px;
	}
	#loadMore {
	  margin: 30px auto 0 auto;
	}
	.load_more {
	  margin-top: 0px;
	}
	.works-grid {
	  float: left;
	  width: 33.3%;
	}
	.product-lists {
	  float: left;
	  width: 100% !important;
	}
	.product-grids {
	  float: left;
	  width: 100% !important;
	  margin: 30px 0 0 0;
	}
	.product-grid {
	  float: left;
	  width: 33.3% !important;
	}
	.key-left,.feature-left {
	  float: left;
	  width: 50%;
	  padding-right: 0;
	}
	.key-left:nth-child(3) ,.key-left:nth-child(4),.feature-left:nth-child(3) ,.feature-left:nth-child(4){
	margin-top:25px;
	}
	.services-top-left {
	  float: left;
	  width: 50%;
	}
	.services-left {
	  float: left;
	  width: 100%;
	}
	.services-left h4 {
	  margin: 22px 0 0 0;
	  }
	.col-md-7.about-info-right h4 {
	  margin: 10px 0 10px 0 !important;
	}
	.about-grid {
	  margin: 35px 0 0 0;
	}
	.about-info-left {
  float: left;
  width: 50%;
}
.about-info-right {
  float: left;
  width: 50%;
}
.col-md-4.about-text-info {
  width: 100%;
  float: left;
  padding-left: 0;
  margin-bottom: 25px;
}
.col-md-4.about-text-info:nth-child(3){
margin-bottom:0;
}
	.col-md-4.about-text-info {
	  width: 100%;
	  float: left;
	  padding-left:0;
	}
	.thumbnail img {
	  width: 100%;
	}
	.about-team {
	  padding: 40px 0 0 0;
	}
	.about-info p {
	  margin: 22px 0;
	}
	.contact-map iframe {
	  width: 100%;
	  height: 235px;
	}
	.contact-form input[type="text"] {
	  width: 30.7%;
	}
	.btn1 {
	  padding: 14px 0;
	  width: 14%;
	}
	.col-md-7.about-info-right h4 {
	  margin: 0px 0 0px 0 !important;
	}
	.col-md-7.about-info-right {
	  padding: 0;
	}
	.error-page {
	  padding: 18px 0;
	  min-height: 533px;
	}
	
	.carbon-right-top h3 img {
    width: 100%;
    height: auto !important;
	}
	.header-left img {
		width: auto !important;
		height: 50px !important;
	}
	.header-right {
		margin-top: 30px;
	}
	
	/* .carbon-right-bottom > iframe{ */
		
		/* min-height:400px; */
		
	/* } */
}
@media(max-width:640px){
.fixed {
  min-height: 80px;
}
.read-more {
  margin: 2px 0 0 0;
}
.posts-right h5 {
  margin: 2px 0;
  }
	.header-right ul.nav1 li {
	  padding: 9px 0 9px 0;
	}
	.header-left img {
	  width: 85%;
	}
	.header-left {
	  float: left;
	  margin-top: 20px;
	}
	.header-right {
	  margin-top: 24px;
	}
	.banner.page-head {
	  min-height: 78px;
	}
	.header-right ul {
	  top: 98%;
	  }
	.banner-info {
	  margin-top: 79px;
	}
	.banner-info h1 {
	  font-size: 30px;
	}
	.banner-info h2 {
	  font-size: 16px;
	}
	.border {
	  padding: 2px 0;
	  }
	.banner-info p {
	  width: 50%;
	  line-height: 1.7em;
	}
	.banner {
	  min-height: 340px;
	}
	.callbacks_tabs {
	  left: 54%;
		top: 40%;
	}
	.hello-info {
	  margin: 40px 0 0 0px;
	}
	.hello {
	  min-height: 426px;
	  background-size: 185% !important;
	}
	.client-right ul li {
	  width: 14.5%;
	}
	.client-left {
  padding: 23px 0 22px 18px;
  width: 26%;
}
	.client-right {
	  width: 73%;
	}
	.hello-info h3, .exp-left h3, .feature-grid h3, .focus-grid h3 {
	  font-size: 28px;
	}
	.hello-info h3 span, .exp-left h3 span, .feature-grid h3 span, .focus-grid h3 span {
	  font-size: 14px;
	}
	.hello-info a, .exp-left a, .feature-grid a {
	  padding: 12px 12px;
	}
	ul.list.ins1 {
	  width: 27%;
	}
	ul.list.ins1.ins2 {
	  width: 63%;
	}
	.recent-btm {
	  min-height: 307px;
	  background-size: 193% !important;
	}
	.recent-grid h3 {
	  font-size: 20px;
	}
	.recent-info h3, .blog-info h3 {
	  font-size: 22px;
	}
	.recent-info p {
	  width: 82%;
	}
	.strip.a {
	  margin: 15px auto;
	  width: 5%;
	}
	.recent-grid p {
	  padding: 10px 0;
	  }
	.recent-work {
	  padding: 50px 0 0 0;
	}
	.recent-btm {
	  margin-top: 20px;
	}
	ul.list.ins1 {
	  margin-top: 7px;
	  }
	.we-focus {
	  padding: 50px 0;
	}
	.blog-info p {
	  width: 73%;
	  }
	.col-md-6.exp-grid.text-center {
	  float: left;
	  width: 50%;
	  margin: 0;
	}
	.works-grids {
	  margin-top: 30px;
	}
	.works,.industries {
	  padding: 50px 0;
	}
	.products {
	  margin: 30px 0;
	}
	.key-list {
	  margin: 30px 0 0 0;
	}
	.col-md-4.product-grid {
	  padding-left: 0;
	}
	.services {
	  padding: 50px 0px;
	}
	.services-top {
	  margin-top: 30px;
	}
	.error-info h3 {
	  font-size: 10em;
	}
	.feature-block {
	  margin-top: 36px;
	}
	.error-page {
	  min-height: 518px;
	}
	.about {
	  padding: 50px 0;
	}
	.about-info h4 {
	  margin: 30px 0 7px 0;
	}
	.about-info p {
	  margin: 15px 0;
	}
	.col-md-4.about-text-info {
	  margin-bottom: 30px;
	}
	.col-md-4.about-text-info:nth-child(3) {
	 margin-bottom: 0px;
	}
	.works-text h3, .ind-info h3, .blog h4, .contact h3, .about-text h3, .key-industries h3, .services h3, .services h3, .about-text h3 {
	  font-size: 20px;
	}
	.col-md-4.about-text-info {
	  width: 100%;
	  float: left;
	  }
	.col-sm-6.col-md-3.about-team-grids {
	  width: 50%;
	  float: left;
	}
	.contact {
	  padding: 60px 0;
	}
	.contact-info {
	  margin: 0 0 30px 0;
	}
	.contact-form input[type="text"] {
	  margin: 0 19px 20px 0;
	}
	.contact-form textarea {
	  margin-bottom: 19px;
	}
	.btn1 {
	  width: 17%;
	}
	.contact-map iframe {
	  height: 206px;
	}
	.blog {
	  padding: 50px 0;
	}
	.blog h4 {
	  margin: 0 0 30px 0;
	}
	.coment-form input[type="text"] {
	  margin: 0 19px 19px 0;
	  }
	.coment-form input[type="submit"] {
	  padding: 10px 0;
	  width: 31%;
	}
	.coment-form textarea {
	  margin-bottom: 20px;
	}
	p.men-it {
	  margin: 3px 0 0 10px;
	  }
	p.men-it {
	  float: left;
	  width: 83%;
	}
	.feature-top {
	  margin-top: 30px;
	}
	.about-info-left {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.col-md-7.about-info-right h4 {
	  margin: 10px 0 !important;
	}
	.about-info-right {
	  float: left;
	  width: 100%;
	}
	.single-blog h5 {
	  margin: 9px 0;
	  }
}
@media(max-width:480px){

.client-right ul li img{ height:auto !important;}


.recent-posts-info {
  margin-bottom: 2em;
  width: 100%;
  float: left;
}
.posts-right h5 {
  margin: 10px 0;
  }
.banner.page-head {
  min-height: 57px;
}
.banner-info{
margin-top:95px;
}
.fixed {
  min-height: 63px; -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
}
	.strip {
	  width: 16%;
	  }
	  .strip.a {
	  width: 11%;
	}
	.banner-info h1 {
	  font-size: 24px;
	}
	.banner {
	  min-height: 252px;
	}
	.banner-info p {
	  width: 100%;
	  line-height: 1.6em;
	}
	.callbacks_tabs li {
	  display: inline-block;
	  margin-left: 3px;
	}
	.callbacks_tabs {
	  left: 43%;
	  top: 109%;
	}
	.header-left img {
	  width: 74%;
	}
	.header-left {
	  margin-top: 14px;
	}

	.banner-info{
	text-align:center;
	}
	.border {
	  margin: 0 auto;
	}
	.client-left {
	  width: 100%;
	}
	.client-right {
	  width: 98%; margin-bottom:10px;
	}
	.hello {
	  min-height: 383px;
	  background-size: 225% !important;
	}
	.col-md-6.hello-info {
	  width: 100%;
	  float: left;
	}
	.coment-form input[type="submit"] {
	  width: 41%;
	}
	.coment-form input[type="text"] {
	  margin: 0 0px 19px 0;
	}
	.met-in {
	  margin: 0 0 0 33px;
	}
	.blog-info p {
	  width: 100%;
	}
	.contact-form input[type="text"] {
	  margin: 0 0px 20px 0;
	}
	.contact-form input[type="text"] {
	  width: 100%;
	}
	.btn1 {
	  width: 23%;
	}
	p.men-it {
	  float: left;
	  width: 77%;
	}
	.men {
	  width: 21%;
		padding: 35px 0;
	}
	.client-left h3 {
  text-align: center;
}
	p.men-it {
	  float: left;
	  width: 76%;
	}
	.hello-info {
	  margin: 13px 0 0 0px;
	}
	.exp-left {
	  padding: 40px 0 0 0;
	}
	.hello-info h3, .exp-left h3, .feature-grid h3, .focus-grid h3 {
	  font-size: 22px;
	}
	.recent-work {
	  padding: 40px 0 0 0;
	}
	.recent-info p {
	  width: 100%;
	}
	.recent-left {
	  float: left;
	  width: 100%;
	}
	.recent-grid {
	  float: left;
	  width: 100% !important;
	}
	.hello-info h3 {
	  
	  }
	.hello-info p{
	 
	  }
	.exp-left p {
	  margin: 10px 0 16px 0;
	}
	.col-md-6.exp-right {
	  margin: 25px 0 40px 0;
	  padding: 0;
	}
	.coment-form input[type="text"] {
	  width: 100%;
	}
	.coment-form input[type="text"]:nth-child(3) {
	  margin: 0 0 19px 0;
	}
	.recent-work {
	  padding: 40px 0px;
	}
	.opportunity{
	padding:60px 0 75px 0;
	margin:0 50px;
	}
	.nbs-flexisel-nav-right {
	  right: 32%;
	}
	.nbs-flexisel-nav-left {
	  left: 32%;
	}
	.focus-layout h4 {
	  font-size: 12px;
	}
	.feature-grid:nth-child(1) {
	  width: 100% !important;
	  padding: 0;
	}
	.feature-grid {
	  float: left;
	  width: 100% !important;
	}
	.blog-grid {
	  float: left;
	  width: 100%;
	  }
	#loadMore {
	  width: 23%;
	}
	.col-md-3.footer-grid {
	  padding-right: 0;
	  }
	.works-grid {
	  float: left;
	  width: 50%;
	}
	.works-grid:nth-child(3) {
	  margin-top: 30px;
	}
	.product-grid {
	  float: left;
	  width: 100% !important;
	}
	.product-grid:nth-child(2){
	margin:30px 0;
	}
	.services-top-main:nth-child(2) {
	  margin-top: 30px;
	}
}
@media(max-width:320px){
.header-left ,.header-right{
  margin-top: 9px;
}
.fixed {
  min-height: 53px;
}
.border {
  width: 14%;
  }
.down-arrow img {
  width: 13%;
}
.down-arrow.text-center {
  margin-top: 30px;
}
.banner {
  min-height: 345px;
}
.callbacks_tabs {
  left: 40%;
  top: 100%;
}
.banner {
  background: url(../images/banner.jpg) no-repeat -747px 0px !important;
  }
.col-md-6.hello-info {
  padding: 0;
}
.banner-info {
  margin-top: 66px;
}
.hello {
  min-height: 365px;
  background-size: 325% !important;
}
.hello-info p:nth-child(4) {
  margin: 0 0 8px 0;
}
.hello-info p {
  margin: 8px 0;
}
.hello-info a, .exp-left a, .feature-grid a {
  padding: 8px 9px;
}
.col-md-6.exp-grid.text-center {
  float: left;
  width: 100%;
}
ul.list.ins1.ins2 {
  width: 67%;
}
ul.list.ins1 {
  width: 27%;
}
.opportunity{
margin:0 10px;

}
.opportunity-info{
padding:28px 0 0 0;
}
.client-right ul li {
  width: 48%;
}
.client-right ul li {
  list-style-type: none;
  display: block;
  float: left;
}
.flex-slider {
  padding: 40px 0 135px 0;
}
.nbs-flexisel-nav-right {
  right: 24%;
}
.nbs-flexisel-nav-left {
  left: 24%;
}
.focus-grid {
  float: left;
  width: 100%;
  padding: 0;
}
.focus-grid p {
  margin: 8px 0 15px 0;
  }
.feature-grid {
  padding: 0;
}
.we-focus {
  padding: 40px 0;
}
.focus-grids {
  margin: 0 0 0px 0;
}
.feature {
  padding: 18px 0 40px 0;
}
.feature-grid p {
  margin: 8px 0;
}
.blog {
  padding: 40px 0;
}
.blog-grid {
  padding: 0;
}
.blog-grid {
  margin-top: 24px;
  }
#loadMore {
  width: 35%;
}
.footer {
  background: #e7eaed;
  padding: 40px 0;
}
.footer-grid {
  width: 100% !important;
  float: left;
  margin-bottom: 20px;
  padding:0;
}
.col-md-3.footer-grid:nth-child(3){
  margin-bottom: 20px;
}
.blog-left {
  padding: 0;
}
.categorya {
  padding: 0 !important;
}
.category ul li {
  line-height: 1.8em;
}
.header-right ul.nav1 li {
  padding: 5px 0 5px 0;
}
.header-right ul {
  top: 100%;
}
.banner.page-head {
  min-height: 53px;
}
.client-right ul li img {
  width: 89% !important;
}
.hello-info p {
  margin: 8px 0;
  line-height: 1.6em;
}
.hello-info a, .exp-left a, .feature-grid a {
  padding: 6px 13px;
}
.exp-left p{
line-height:1.6em;

}
.client-left {
  padding: 23px 0 22px 0px;
}
.feature-grid a.hvr-rectangle-in.button.red {
  margin-left: 14px;
}
.works, .industries {
  padding: 40px 0;
}
.works-grids {
  margin-top: 20px;
}
.works-grid {
  float: left;
  width: 100%;
  padding: 0;

}
.works-grid:nth-child(1) {
  margin-bottom: 30px;
  }
.key-left, .feature-left {
  float: left;
  width: 100%;
  padding-right: 0;
}
.key-left:nth-child(2){
  margin-bottom: 30px;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px; background:#129c2f;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}



















.products {
  margin: 20px 0;
}
.key-list {
  margin: 20px 0 0 0;
}
.key-left:nth-child(3), .key-left:nth-child(4), .feature-left:nth-child(3), .feature-left:nth-child(4) {
  margin-top: 20px;
}
.key-left:nth-child(2) {
  margin: 20px 0 0 0;
}
.services-top-left {
  float: left;
  width: 100%;
}
.services-left {
  float: left;
  width: 100%;
  padding:0;
}
.services {
  padding: 40px 0px;
}
.services-left h4 {
  margin: 13px 0 0 0;
}
.services-left p {
  margin: 7px 0 0 0;
  }
.services-top-left:nth-child(2) {
  margin: 30px 0 0 0;
}
.feature-block {
  margin-top: 20px;
}
.feature-left:nth-child(2) {
  margin-top: 20px;
}
.error-info h3 {
  font-size: 8em;
}
.error-info {
  text-align: center;
  margin-top: 34px;
}
.error-info p {
  margin: 13px 0;
  }
.error-info p:nth-child(3) {
  margin: 0 0 31px 0;
}
.error-page {
  min-height: 405px;
}
.about {
  padding: 40px 0;
}
.about-info h4 {
  margin: 20px 0 0px 0;
}
.about-grid {
  margin: 20px 0 0 0;
}
.col-md-4.about-text-info {
  margin-bottom: 20px;
}
.about-team {
  padding: 30px 0 0 0;
}
.about-team-grids {
  width: 100% !important;
  float: left;
  padding: 0;
}
.contact {
  padding: 40px 0;
}
.contact-map {
  margin: 0 0 20px 0;
}
.contact-info {
  margin: 0 0 20px 0;
}
.contact-map iframe {
  height: 170px;
}

.btn1 {
  width: 33%;
  padding: 8px 0;
}
.blog h4 {
  margin: 0 0 20px 0;
}
.posts-right h5 {
  margin: 2px 0;
  }
.read-more {
  margin: 2px 0 0 0;
}
.recent-posts-info {
  margin-bottom: 2em;
}
.coment-form input[type="submit"] {
  width: 65%;
}
.top-comments {
  margin: 20px 0 0 0;
}

.client-right ul li:nth-child(4) ,.client-right ul li:nth-child(5) {
  display: none;
}
.category ul {
  padding: 0 0 0 18px;
}
p.men-it {
  float: left;
  width: 72%;
}
.men {
  padding: 58px 0;
}
p.smith span {
  padding: 0 7px;
  }
.met-in {
  margin: 0 0 0 20px;
}
p.smith a, p.smith span, p.reply a, p.men-it {
  font-size: 12px;
}
.product-lists {
  padding: 0 !important;
}
ul.list1 li a{
font-size: 11px;
}
.about-info h4{
line-height:1.7em;
}
.header-right ul {
  padding: 10px 0;
}
.product-grid h4, .single-blog h5, .services-left h4 a, .about-info h4, .about-info-right h4, .about-text-info h5 {
  font-size: 15px;
}
.row {
  margin: 20px 0 0 0;
}
}

